<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>Upload_File</servlet-name>
        <servlet-class>Action.data_upload</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Upload_File</servlet-name>
        <url-pattern>/upload</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Download_file</servlet-name>
        <servlet-class>Action.Download</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Download_file</servlet-name>
        <url-pattern>/download</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PV_LOGIN</servlet-name>
        <servlet-class>Action.PV_login</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PV_LOGIN</servlet-name>
        <url-pattern>/pv</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Cloud</servlet-name>
        <servlet-class>Action.Cloud_login</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Cloud</servlet-name>
        <url-pattern>/cloud</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Member_Signup</servlet-name>
        <servlet-class>Action.Member_register</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Member_Signup</servlet-name>
        <url-pattern>/member_reg</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GM_LOGIN</servlet-name>
        <servlet-class>Action.GM_login</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GM_LOGIN</servlet-name>
        <url-pattern>/gm_login</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
